<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<div>
  <h1 class="animate__animated animate__rotateIn animate__slow"
    style="color: rgb(105, 105, 105); display: flex; align-items: center; justify-content: center; font-family: 'PT Serif', serif; font-style: normal;font-weight:bolder; ">
    SportForm</h1>
</div>
<div>
  <h1 class="animate__animated animate__bounceInRight animate__slow"
    style="color: rgb(37, 122, 3); display: flex; align-items: center; justify-content: center; font-family: 'PT Serif', serif; font-style: italic;">
    Выбери свою форму</h1>
</div>
</div>
<div class="body">
  <div class="caruselBody">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://s-cdn.sportbox.ru/images/styles/upload/fp_fotos/ee/05/82ff385ce38efb6235dd58afcb394a6d584bb1c48913c303008295.jpg"
            height="370" style="max-width: 720px" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="https://s74794.cdn.ngenix.net/m/754b/4bdf/88f4/4ba4/92a9/f841/429f/b791/1200_1200_max.jpeg"
            height="370" style="max-width: 720px" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img
            src="https://cdn25.img.ria.ru/images/156067/85/1560678549_0:0:3001:1688_1920x0_80_0_0_0c3292ad2f1dd536c78d06ddba0b6d11.jpg.webp"
            height="370" style="max-width: 670px" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="https://fcstuttgart.com/wp-content/themes/soltend/img/bgimg1.png" height="370"
            style="max-width: 720px" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="https://cdn-st2.rtr-vesti.ru/vh/pictures/xw/316/560/5.jpg" height="370" style="max-width: 720px"
            class="d-block w-100">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
      </button>
    </div>


  </div>
</div>
