<div class="body">
  {{#each allForms}}
  <a href="/clothes/{{this._id}}">
    <div class="publics">
      <img class="image" src="{{this.img}}">
      <div>{{this.name}}</div>
      <div>{{this.price}}</div>
    </div>
  </a>
  {{/each}}
</div>
