<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="/js/application.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <title>Ptoject</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg ">
      <ul class="navbar-nav">
        <div class="weather">
          <div class="city "></div>
          <div class="degree "></div>
          <i class="fas fa-cloud"></i>
        </div>
        <div><a class="navbar-brand menu-link titlelogo" href="/">Project</a></div>
      </ul>
      <div class="line">
        {{#if isLogin}}
        <a id="logout" class="menu-link color" href="/auth/logout">Выйти</a>
        {{else}}
        <a id="login" class="menu-link color" href="/auth/login">Войти</a>
        {{/if}}
      </div>
    </nav>
  </header>
  <div class="divbody">
    {{{body}}}

  </div>
</body>

</html>
