 </div>
        </div>
        <div class="tab-pane fade" id="overall-tab" role="tabpanel" aria-labelledby="nav-overall-tab">
          
        <div class="overall d-block h-100">
          <div class="row justify-content-end">
            <div class="order-wrapper d-flex">

                <div class="col-sm-5 layout d-flex flex-column justify-content-center">
                  <div class="layout-shirt d-flex justify-content-center">
                    <div class="svg-img">
                    </div>
                  </div>
                  <div class="layout-short d-flex justify-content-center">
                    <div class="svg-img">
                    </div>
                  </div>
                  <div class="layout-gaiter d-flex justify-content-center">
                    <div class="svg-img">
                    </div>
                  </div>
                </div>
                <div class="col-sm-7 layout-options d-flex flex-column">
                  <section class="row flex-column align-items-center">
                    <span class="h1 text-center">Почти готово!</span>
                  </section>

                  <section class="row settings align-items-center">
                    <span class="h5 text-center d-none d-sm-block">Укажите количество игроков, нанесение, фамилии и номера.</span>
                    <button class="btn btn-green" data-toggle="modal" data-target="#players">Список игроков</button>
                  </section>

                  <section id="price-row" class="row flex-column align-items-center">
                    <div class="flex-row align-items-start">
                      <p>Стоимость заказа:<span class="totalPrice">0</span> руб.</p>
                      <p class="readydate text-center">Будет готово 21 августа</p>
                    </div>
                    <button class="d-block clickable btn btn-green" data-toggle="modal" data-target="#sendordermodal">Отправить заказ</button>
                  </section>
              </div>

          </div>
        </div>
        </div>
      </div>
    </div>
  </div></main>
  <footer class="disclaimer">

  </footer>
  <div class="modal fade bs-example-modal-lg" id="players" tabindex="-1" role="dialog" aria-labelledby="players">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="spisok">
        <div class="first rowPlayer d-flex flex-column align-items-center" style="position: relative; padding-top: 15px; border: 1px dashed #CCC; background: #f5f5f5;">
          <p>
            <input class="form-control" style="width: 50px; display: inline-block;" type="text" name="number" placeholder="№">
            <input class="form-control" style="width: 250px; display: inline-block;" type="text" name="namePlayer" placeholder="Фамилия/надпись">
            <select name="rukav" class="form-control" style="width: 170px; display: inline-block;">
              <option value="1" selected="">Короткий рукав</option>
              <option value="2">Длинный рукав</option>
            </select>
            <select name="size" required="" class="form-control" style="width: 110px; display: inline-block;">
              <option selected="" disabled="">Размер</option>
              <option value="YS">YXS (86-104)</option>
              <option value="YS">YS (104-116)</option>
              <option value="YM">YM (116-128)</option>
              <option value="YL">YL (128-140)</option>
              <option value="YL">YXL (140-152)</option>
              <option value="YL">Y2XL (152-164)</option>
              <option value="S">S (46)</option>
              <option value="M">M (48-50)</option>
              <option value="L">L (50-52)</option>
              <option value="XL">XL (52-54)</option>
              <option value="XXL">XXL (56-58)</option>
              <option value="XXXL">XXXL (60-62)</option>
            </select>
          </p>

          <div style="padding: 0 20px 10px;">
            <label style="width: 250px; text-align: left; cursor: pointer;"><input type="checkbox" name="printFIO" data-price="150" data-price2="150"> Нанесение фамилии <sup>+150 руб.</sup> </label>
            <label style="width: 300px; text-align: left; cursor: pointer;"><input type="checkbox" name="printNumber" data-price="200" data-price2="200"> Нанесение номера на спине <sup>+200 руб.</sup></label>
            <label style="width: 300px; text-align: left; cursor: pointer;"><input type="checkbox" name="printNumber2" data-price="100" data-price2="100"> Нанесение малого номера<sup>+100 руб.</sup></label><br>
            <label style="width: 250px; text-align: left; cursor: pointer;"><input type="checkbox" name="printLogoS" data-price="200" data-price2="200"> Малый логотип 10*10 <sup>+200 руб.</sup></label>
            <label style="width: 300px; text-align: left; cursor: pointer;"><input type="checkbox" name="printLogoM" data-price="300" data-price2="300"> Средний логотип 20*20 <sup>+300 руб.</sup></label>
            <label style="width: 300px; text-align: left; cursor: pointer;"><input type="checkbox" name="printLogoL" data-price="400" data-price2="400"> Большой логотип 30*30 <sup>+400 руб.</sup></label><br><br>

            <label><input type="checkbox" name="shirt" checked="checked" data-price="0"> Футболка</label>
            <label><input type="checkbox" name="short" data-price="0"> Шорты</label>
            <label><input type="checkbox" name="gaiter" data-price="0"> Гетры</label>
            <!-- <label class="hidden"><input class="partner" type="checkbox" name="goalstream" data-price="0" /> Goalstream</label> -->
          </div>
          <p><button class="add btn btn btn-green btn-xl" style="outline: none;">Добавить игрока</button></p>
        </div>
      </div>
      <div class="">
        <button type="button" class="btn btn-secondary closeplayers float-right" data-dismiss="modal">Продолжить</button>
      </div>
    </div>
  </div>
</div>
