<div class="body">
  <a href="/clothes/shorts/{{firstShorts._id}}">
    <div class="publics">
      <img class="image" src="{{firstShorts.img}}">
      <div>{{firstShorts.name}}</div>
      <div>Цена: {{firstShorts.price}}</div>
    </div>
</div>
