<div class="body">
  <form method="POST" action="/clothes/{{form._id}}">
    <div class="oneForm">
      <img class="formImage" src="{{form.img}}">
      <div>{{form.name}}</div>
      <div>{{form.price}}</div>
    </div>
    <button type="submit"></button>
  </form>
</div>
