<div class="body">
  <a href="/clothes/socks/{{firstSocks._id}}">
    <div class="publics">
      <img class="image" src="{{firstSocks.img}}">
      <div>{{firstSocks.name}}</div>
      <div>Цена: {{firstSocks.price}}</div>
    </div>
  </a>
</div>
