.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin-bottom: 100px; */
  min-height: 80vh;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.publics {
  height: 350px;
  width: 300px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  justify-content: space-between;
  align-items: stretch;
  margin: 10px 10px 0px 10px;
  background-image: url("./img/297-2973691_post-it-png-download-emmanuel-faith-tabernacle\ \(1\).png");
  background-size: 250px 250px;
  font-size: 14px;
  text-align: center;
  border: blueviolet solid 1px;
}
.titletop {
  margin-top: 20px;
  font-size: 18px;
  text-decoration: tomato;
}
.login {
  display: flex;
  flex-direction: row;
  color: white;
}
.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.authBtn {
  background-color: rgb(241, 244, 189);
  margin-top: 5px;
  border-radius: 5px;
  border: rgb(231, 232, 201) solid 3px;
  width: 100px;
  color: rgb(42, 126, 121);
}
.image {
  width: 298px;
  height: 298px;
}
.formImage {
  height: 500px;
  width: 500px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  justify-content: space-between;
  align-items: stretch;
  margin: 10px 10px 0px 10px;
  background-image: url("./img/297-2973691_post-it-png-download-emmanuel-faith-tabernacle\ \(1\).png");
  background-size: 250px 250px;
  font-size: 14px;
  text-align: center;
  border: blueviolet solid 1px;
}

.carusel {
  display: flex;
  flex-direction: row;
}
.caruselDiv {
  height: 100px;
  width: 100px;
}
.caruselImg {
  height: 98px;
  width: 98px;
}

.bodyForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orderForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btnInBasket {
  height: 50px;
}

.add {
  display: flex;
  flex-direction: column;
}

.showform {
  display: flex;
  flex-direction: row;
}

.contacts {
  margin-right: 100px;
}

footer {
  display: flex;
  width: 100%;
  height: 90px;
  background-color: #928f9948;
  font-family: RF Rostin;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  color: #66eefb;;
  margin-top: auto;
  bottom: 0px;
}

.cart {
  margin-left: 30px;
  margin-right: 15px;
  height: 55px;
  width: 55px;
}
td {
  width: 250px;
  border: 4px double black;
}
.tdImg {
  height: 70px;
  width: 70px;
}
.caruselBody {
  display: flex;
  justify-content: center;
}

.shopList {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

span {
  width: 100px;
 border: #4520ab solid 1px;
}


.dost{
  color: black;
}

.opl{
  color: black;
}

.con{
  color: black;
}

#login{
  color: black;
}

#logout{
  color: black;

.myCart {
  display: flex;
  flex-direction: column;

}
